body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  background-color: #f2f2f2;
  cursor: default;
}

/*Design Card Modal*/

.card-modal {
  display: block;
  position: fixed;
  z-index: 11;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(30, 30, 30, 0.85);
}

.card-modal.form {
  display: none;
}

.card-modal.form.open {
  display: block;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fafafa;
  padding: 10px 0px;
  border: 1px solid #888;
  width: 70%;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: myOpacity 200ms ease-in-out 0s;
  z-index: 20;
}

.modal-content.design {
  margin: 5% auto;
  position: relative;
  transform: none;
  top: 0%;
  left: 0%;
}

.modal-content.profile {
  margin: 5% auto;
  position: relative;
  transform: none;
  top: 0%;
  left: 0%;
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

/*Form Components*/

/*Like Button*/
.like-not-clicked {
  color: #999;
}

.like-not-clicked:hover {
  color: #555;
  cursor: pointer;
}

.like-clicked {
  color: #ed4956;
}

.like-clicked span {
  color: #999;
}

/*HomeNavBar*/

.logo {
  height: 30px;
  width: 98px;
}

.navbar {
  animation: myNavBar 2s ease 0s;
  height: 77px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
}

@keyframes myNavBar {
  0% {
    transform: translateY(-77px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.navbar #logo {
  flex: 1;
}

.navbar .empty-container {
  flex: 5;
}

.navbar .navbar-actions {
  flex: 1.5;
  height: 100%;
  display: flex;
  justify-content: center;
}

.navbar a {
  padding: 14px 16px;
}

.navbar-icons {
  font-size: 28px;
  color: #272727;
}

.dropbtn {
  height: 100%;
  display: flex;
  align-items: center;
}

.dropdown {
  margin-left: 30px;
  height: 100%;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 140px;
  z-index: 1;
  border: 1px solid #dbdbdb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transform: translateX(+14px) translateX(-50%);
}

.dropdown-content a {
  display: block;
  text-align: center;
  text-decoration: none;
  border-bottom: 1px solid #f2f2f2;
  color: #767676;
  font-size: 15px;
  transition: border-bottom 200ms ease-in-out;
}

.dropdown-content a:hover {
  border-bottom: 1px solid #999;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown.loggedout {
  margin-left: 0px;
}

.dropdown.loggedout a {
  text-decoration: none;
  color: #272727;
  font-weight: 420;
  transition: all 0.3s ease-in-out;
}

.dropdown.loggedout a:hover {
  background-color: #efefef;
  border-radius: 10px;
}

.dropdown.loggedout a:visited {
  text-decoration: none;
  color: #272727;
}

/*Design Cards Display*/
.design-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-image-background {
  height: 190px;
  width: 300px;
  border: 10px solid #fff;
  outline: 0.5px solid #e6e6e6;
  border-radius: 12px;
  position: relative;
  box-sizing: content-box;
  margin: 15px 20px;
}

.card-modal-button {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
}

.image-text {
  white-space: pre-wrap;
  height: 100%;
  width: 100%;
  display: inline;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: #232222;
  color: #fafafa;
  transition: 0.5s ease;
  display: flex;
  flex-direction: column;
}

.card-image-background:hover .image-text {
  opacity: 0.75;
}

.image-title {
  flex: 1;
  color: #f9f9f9;
  font-weight: bold;
  text-transform: capitalize;
  text-align: left;
  padding: 15px 15px 0px 15px;
  z-index: 12;
}

.image-description {
  flex: 6;
  color: #f9f9f9;
  text-align: left;
  padding: 10px 15px;
  z-index: 12;
  font-size: 12px;
}

/*Large Design Card*/

.design-card-main {
  display: flex;
  flex-direction: column;
  padding: 30px 60px;
}

.card-modal > a {
  text-decoration: none;
  color: #9a9a9a;
  font-size: 45px;
  float: right;
  margin-right: 15px;
}

/*first section*/
.design-title-area {
  flex: 1;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  padding-left: 0px;
}

.user-image {
  flex: 0.7;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.design-title {
  flex: 8;
  display: flex;
  flex-direction: column;
}

.design-title p:first-child {
  font-weight: bold;
  color: #444444;
  text-transform: capitalize;
  text-align: left;
  margin-bottom: 2px;
  font-size: 20px;
}

.design-title p:last-child {
  color: #999a9f;
  text-transform: capitalize;
  text-align: left;
  margin-top: 0px;
  font-size: 14px;
}

.profile-image {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

/*second section*/
.design-card-second {
  flex: 5;
  display: flex;
  flex-direction: row;
}

.design-images-actions {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.image-carousel {
  flex: 3;
  display: flex;
  justify-content: center;
  position: relative;
  padding-right: 25px;
}

.image-carousel img {
  height: 350px;
  width: 100%;
  border-radius: 4px;
}

.image-nav-buttons {
  color: black;
}

.left-image-click {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(10px, 0);
  cursor: pointer;
}

.image-carousel i {
  font-size: 40px;
  font-weight: bold;
}
.right-image-click {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(-35px, 0);
  cursor: pointer;
}

.design-actions {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  align-items: center;
  font-size: 16px;
}

.design-action {
  width: 75%;
  text-align: left;
  padding: 10px 10px 10px 30px;
  color: #999;
  line-height: 35px;
  border-bottom: 1px solid #dddddd;
  display: flex;
  align-items: center;
}

.design-action a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #999;
  transition: color 200ms ease-in-out;
}

.design-action a:hover,
.comments-button:hover,
.project-add-clicked:hover {
  color: #555;
  cursor: pointer;
}

.project-add-clicked {
  display: flex;
  align-items: center;
}

.design-action.like {
  display: flex;
  flex-direction: row;
}

.design-action div:first-child {
  flex: 1;
}
.design-action div:last-child {
  flex: 1;
}

.like-button span {
  display: flex;
  align-items: center;
}

.like-number {
  display: flex;
  justify-content: flex-end;
}

.design-card-icons {
  margin-right: 15px;
  font-size: 28px;
}

.design-action.comments-container {
  border-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.comments-button {
  display: flex;
  align-items: center;
}

.comment-form {
  width: 100%;
}

.comment-form input {
  border-radius: 4px;
  border: 1px solid #efefef;
  cursor: text;
  margin: 10px 0;
  padding: 8px 12px;
  width: 100%;
  color: #555;
  font-size: 14px;
  background-color: #efefef;
  box-sizing: border-box;
}

.comment-card {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 2px 0;
  width: 100%;
}

.comment-card span:nth-child(1) {
  font-weight: 600;
  color: #555;
  margin-right: 8px;
  flex: 1;
}

.comment-card span:nth-child(2) {
  color: #555;
  margin-right: 8px;
  flex: 3;
  word-break: break-all;
  line-height: normal;
}

.comment-vote {
  color: #999;
  display: flex;
  align-items: center;
}

.comment-vote span {
  color: #999;
}

.comment-vote i {
  align-self: center;
  font-size: 18px;
  margin-right: 3px;
}

/*third section*/
.last-design-section {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.details-description {
  margin: 40px 20px 40px 0px;
  font-size: 16px;
  text-align: left;
  color: #555;
  line-height: 18px;
}

.details-tags {
  text-align: left;
}

.tag {
  background-color: rgba(153, 153, 153, 0.24);
  border-radius: 3px;
  padding: 9px 16px;
  font-weight: 400;
  font-size: 14px;
  margin-right: 8px;
}

/*My Project View*/
/*Members Card*/

.card-modal.members {
  z-index: 100;
}

.modal-content.members {
  width: 40%;
  padding-bottom: 0;
}

.add-members {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.add-members > div {
  width: 350px;
}

#add-new-members-button {
  padding: 0 16px;
  cursor: pointer;
  background: #3897f0;
  border-color: #3897f0;
  color: #fff;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-size: 15px;
  font-weight: 600;
  line-height: 32px;
  margin-left: 16px;
}

.form-submit-section.members {
  padding: 0;
}

.members-section {
  display: flex;
  flex-direction: column;
}

.admin-type {
  border-bottom: solid 1px #dbdbdb;
}

.admin-type h1 {
  color: #555;
  font-size: 17px;
  text-align: left;
  padding-left: 25px;
}

.member {
  padding: 10px 25px;
  display: flex;
  flex-direction: row;
  border-top: solid 1px #dbdbdb;
}

.member-profile {
  flex: 1;
  display: flex;
  align-items: center;
}

.member-profile img {
  margin-right: 10px;
}

.member-button {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.member-button input.remove-member {
  font-size: 15px;
  padding: 0 16px;
}

/*My Profile View*/

.content-container .profile-info {
  padding: 20px 150px;
  display: flex;
  flex-direction: row;
}

.profile-image-container {
  flex: 1;
}

.profile-image-container .profile-image {
  width: 152px;
  height: 152px;
}

.profile-description {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.profile-description .profile-name {
  flex: 1.6;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-description .profile-name p {
  font-size: 32px;
  font-weight: 200;
}
.profile-description .profile-name input {
  margin-left: 20px;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  overflow: hidden;
  width: 95px;
  background: #3897f0;
  border-color: #3897f0;
  color: #fff;
  cursor: pointer;
}

.profile-description .profile-actions {
  flex: 1;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
}

.designs-num {
  flex: 1;
}

.actions-num {
  font-weight: 600;
  color: #262626;
}

.relationships-button {
  flex: 1;
  cursor: pointer;
}

.design-actions-empty-container {
  flex: 1;
}

.profile-description .profile-email {
  flex: 1;
  display: flex;
  align-items: center;
}

.profile-description .profile-email i {
  color: #262626;
  margin-right: 10px;
}

.profile-description .profile-email a {
  color: #3897f0;
  text-decoration: none;
}

/*Profile NavBar*/

.profile-navbar {
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #e3e1e1;
  margin: 0 55px;
  margin-top: 35px;
}

.profile-navbar a {
  color: #999;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 15px;
  font-size: 14px;
  font-weight: 540;
}

/*Project Profile*/

.project-list {
  padding: 0 55px;
}

.project-card {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
  border-bottom: 1px solid #e3e1e1;
  min-height: 240px;
  align-items: center;
}

.project-card-description {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-card-description a {
  text-decoration: none;
  font-size: 20px;
  color: #1e5589;
  font-weight: 600;
  margin-bottom: 15px;
}

.project-card-description p {
  color: #999;
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.project-card-description span {
  font-weight: 600;
}

.project-carousel-container {
  flex: 3.2;
  width: 10px;
  text-align: left;
  overflow-x: auto;
  white-space: nowrap;
}

.project-carousel-container .card-image-background {
  display: inline-block;
}

/*Design Form*/
.modal-content.form {
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
}

.form-title {
  flex: 1;
}

.form-title h1 {
  font-size: 24px;
  border-bottom: 1px solid #e3e1e1;
  color: #555;
  padding-bottom: 18px;
  margin-bottom: 0px;
}

.form-content {
  flex: 3;
  border-bottom: 1px solid #e3e1e1;
  padding: 40px 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.image-upload {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.dropzone {
  background-color: #efefef;
  border-radius: 10px;
  border-style: none;
  height: 200px;
  width: 350px;
  font-weight: 600;
  color: #555555;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.image-upload img {
  top: 0;
  left: 0;
  margin-right: 5px;
  margin-bottom: 5px;
  height: 50px;
  width: 80px;
  border-radius: 5px;
}

.images-uploaded {
  display: flex;
  align-items: flex-start;
}

.input-text {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.input-text input,
.input-text textarea {
  border: 1px solid #efefef;
  border-radius: 4px;
  cursor: text;
  padding: 10px 14px;
  background-color: #efefef;
  font-weight: 600;
  color: #b5b5b5;
  font-size: 16px;
  margin-bottom: 20px;
  overflow: auto;
  word-wrap: break-word;
}

.input-text textarea:focus,
.input-text input:focus {
  background-color: #fff;
  font-weight: 400;
  color: #555555;
}

.form-submit-section {
  flex: 1;
  padding: 20px 0;
}

.form-submit-section button,
.form-submit-section input {
  padding: 0 24px;
  cursor: pointer;
  background: #3897f0;
  border-color: #3897f0;
  color: #fff;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  text-transform: uppercase;
}

.project-form {
  display: flex;
  flex-direction: column;
}

.project-form span span {
  margin-right: 10px;
  font-weight: 600;
  color: #555555;
}

.create-project-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 20px;
}

.create-project-button i {
  margin-right: 5px;
  font-size: 40px;
  color: #3897f0;
}

.create-project-button span {
  font-weight: 600;
  color: #555555;
}

.input-text.project-alone input,
.input-text.project-alone textarea {
  width: 400px;
}

.input-text.project-alone .section {
  width: 428px;
}

.input-text.project-alone {
  display: flex;
  align-items: center;
  padding: 20px 150px;
}

.modal-content.signin {
  width: 50%;
  padding-bottom: 0;
}

.input-text.signup input {
  margin: 10px;
}

#uploaded-profile-pic {
  height: 150px;
  width: 150px;
}

/*Project Show Page*/

.project-info {
  padding: 38px 350px;
  display: flex;
  flex-direction: column;
  color: #262626;
}

.project-info-title p {
  font-size: 32px;
  font-weight: 600;
  margin: 0 0;
}

#project-description {
  color: #999;
  word-break: break-all;
}

.project-info-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-designs-num {
  display: inline;
  margin: 0 5px;
}

.bold-num {
  border-radius: 6px;
  color: #ffffff;
  font-weight: bold;
  display: inline-block;
  padding: 3px 4px;
  min-width: 28px;
  vertical-align: middle;
  background: linear-gradient(140deg, #ffc333 55%, #ffb400 55%, #ffb400 100%);
  line-height: 1.1;
  text-align: center;
  margin-right: 5px;
}

.bold-num.members {
  background: linear-gradient(140deg, #37b2eb 55%, #0493d6 55%, #0493d6 100%);
}

.num-box {
  cursor: pointer;
}

/*Person Card */
.modal-content.profile {
  width: 20%;
  padding: 0px 0;
  display: flex;
  flex-direction: column;
}

.person-card {
  padding: 10px;
  border-bottom: solid 1px #efefef;
}

.modal-content.profile .person-card:last-child {
  border-bottom: 0px;
}

.person-card a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  color: #555;
  font-weight: 600;
}

.person-card a:visited {
  color: #555;
}

.person-card img {
  margin-right: 10px;
}

/*Home Page*/
.home-container {
  background-color: #fafafa;
}

.parallax {
  color: white;
  background-image: url("./images/Home.png");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: myParallax 1.8s ease 0s;
}

@keyframes myParallax {
  0% {
    transform: translateY(77px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.parallax:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.33);
}

#home-title {
  font-size: 50px;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  letter-spacing: 0.25px;
  margin-bottom: 5px;
  color: #fafafa;
  animation: myTitle 2.3s ease 0s 1 normal forwards;
}

@keyframes myTitle {
  0%,
  30% {
    transform: translateY(20px);
    opacity: 0;
    color: #fafafa;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
    color: #fafafa;
  }
}

#home-tagline {
  margin-top: 5px;
  letter-spacing: 1.1px;
  border: 2px solid #fff;
  color: #fff;
  font-size: 18px;
  padding: 10px 18px 10px 18px;
  width: 20%;
  text-transform: uppercase;
  animation: myTagline 3s ease 0s 1 normal forwards;
}

@keyframes myTagline {
  0%,
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.home-content {
  display: flex;
  flex-direction: row;
  height: 200px;
}

.home-description {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 80px;
}

#home-description-for {
  font-family: "Libre Baskerville", serif;
  font-size: 26px;
  font-weight: normal;
  letter-spacing: 0.2px;
}

p#home-description-about {
  font-family: "Libre Baskerville", serif;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0.2px;
  line-height: 1.4;
}

/*Keyframes */

@keyframes myOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*Main Flex*/

.main-container {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
}

.empty-container {
  flex: 0.3;
}

.content-container {
  flex: 3;
}

.design-browers {
  display: flex;
  flex-direction: column;
}

.search-form {
  flex: 1;
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
}

.searchBox {
  width: 50%;
  padding: 10px;
  border: 1px solid #efefef;
  font-size: 16px;
  background-image: url("./images/Search.png");
  background-position: 10px 10px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  padding-left: 40px;
  margin: 12px 0;
  background-color: #efefef;
  color: #555;
  font-weight: 600;
  border-radius: 4px;
}

.searchBox::-webkit-input-placeholder {
  color: #a39a99;
}
